@{
    ViewBag.Title = "Home Page";
    @model List<ForumSystem.Models.Question>
}
<div class="title-container">
    <h2>Most popular discussions</h2>
</div>

<hr />
@foreach (var qustion in Model)
{

    <div class="row index-title ">
        <h2>@Html.ActionLink(qustion.Title.ToString(), "Details", "Questions", new { id = qustion.QuestionId },null)</h2>
        <hr />
        <h5>Rating: @qustion.Ranking</h5>
    </div>

}